{% extends 'layout.html' %}

{% block content %}
    {% include "components/_navbar.html" %}
        <div class="container d-block bg-dark bg-opacity-25 p-2 mt-4" style="height:400px;">
            <h2>Ürün Ekle</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100 mt-2">Kaydet</button>
            </form>
        </div>
    {% include "components/_footer.html" %}
{% endblock content %}