{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Ürünü Düzenle</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning w-100 mt-2">Güncelle</button>
        </form>
        {% if urun.urun_image %}
            <div class="mt-3">
                <p>Mevcut Görsel:</p>
                <img src="{{ urun.urun_image.url }}" alt="{{ urun.urun_name }}" style="max-width:200px;">
            </div>
        {% endif %}
    </div>
{% endblock %}