{% load static %}
<div class="card h-100">
    {% if urun.urun_image %}
        <img src="{{ urun.urun_image.url }}" class="card-img-top" alt="{{ urun.urun_name }}">
    {% else %}
        <img src="{% static 'img/no-image.png' %}" class="card-img-top" alt="Resim Yok">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ urun.urun_name }}</h5>
        <p class="card-text">{{ urun.urun_aciklama|truncatechars:100 }}</p>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">
        <span class="text-primary fw-bold">{{ urun.urun_fiyat }} ₺</span>
        <a href="{% url 'urun_detay_page' urun.urun_category.id urun.urun_slug %}" class="btn btn-sm btn-primary">
            Detay
        </a>
    </div>
</div>