<div class="container pt-3 mt-3">
    <div class="text-secondary row row-cols-12">
        <div class="col ps-sm-4">
            <div class="row footer-title p-1">KURUMSAL</div>

            <div class="row">
                <div class="col-12 col-md-6 px-1">
                    <div class="footer">Hakkımızda</div>
                    <div class="footer">Müşteri Hizmetleri</div>
                    <div class="footer">Sipariş Aşamaları</div>
                    <div class="footer">Sıkça Sorulan Sorular</div>
                    <div class="footer">İnsan Kaynakları</div>
                    <div class="footer">Gizlilik Politikamız</div>
                </div>
                <div class="col-12 col-md-6 px-1">
                    <div class="footer">İletişim</div>
                    <div class="footer">Vatan Card</div>
                    <div class="footer">Servis Takip Formu</div>
                    <div class="footer">Mağazalar</div>
                    <div class="footer">İşlem Rehberi</div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row footer-title p-1">KATEGORİLER</div>

            <div class="row">
                <div class="col-12 col-md-6 px-1">
                    <div class="footer">Bilgisayar</div>
                    <div class="footer">Cep Telefonu</div>
                    <div class="footer">Tablet PC</div>
                    <div class="footer">Akıllı Saat</div>
                    <div class="footer">Vestel TV</div>
                    <div class="footer">Oyun Bilgisayarı</div>
                </div>
                <div class="col-12 col-md-6 px-1">
                    <div class="footer">Küçük Ev Aletleri</div>
                    <div class="footer">Kişisel Bakım Ürünleri</div>
                    <div class="footer">Elektrikli Süpürge</div>
                    <div class="footer">Ütü</div>
                    <div class="footer">Masaüstü Bilgisayar</div>
                    <div class="footer">Sabit Diskler</div>
                </div>
            </div>
        </div>

        <div class="col-3 col-md-2">
            <div class="row footer-title p-1">ÖZEL ÜRÜNLER</div>
            <div class="row">
                <div class="col px-1">
                    <div class="footer">İPhone 7</div>
                    <div class="footer">İPhone 6S</div>
                    <div class="footer">İPhone 5S</div>
                    <div class="footer">İPhone SE</div>
                    <div class="footer">General Mobile 5 Plus</div>
                    <div class="footer">Galaxy S7</div>
                    <div class="footer">Note 5</div>
                    <div class="footer">Galaxy S6</div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="text-secondary d-flex justify-content-center mb-3">
    <div class="container d-flex justify-content-between row">
        <div class="col-12 col-sm-6">
            <div class="fw-bold" style="font-size: 12px">
                Türkiyenin Teknoloji Hiperstoru
            </div>
            <div style="font-size: 12px">
                Copyright Vatan Bilgisayar San. Tic. Ltd. Şti.
            </div>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center">
            <img src="https://www.vatanbilgisayar.com/upload/general/taksit-footer/payment-types.jpg" alt="payment"
                class="w-100" />
        </div>
    </div>
</div>